
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 320px;
  min-height: 100vh;
}

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #070D16;
    --card: #FFFFFF;
    --card-foreground: #070D16;
    --popover: #FFFFFF;
    --popover-foreground: #070D16;
    --primary: #eb7617;
    --primary-foreground: #d86d15;
    --secondary: #ff7300;
    --secondary-foreground: #d4a8178a;
    --muted: #f5f2f2;
    --muted-foreground: #6a6a6a;
    --accent: #e7b616a8;
    --accent-foreground: #e1b626;
    --destructive: #F44A4A;
    --destructive-foreground: #FAFAFA;
    --border: #E0E4E8;
    --input: #E0E4E8;
    --ring: #070D16;
    --chart-1: #F26C4F;
    --chart-2: #2C8D8F;
    --chart-3: #315672;
    --chart-4: #F6D365;
    --chart-5: #F8C96D;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
